.filters-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .filters-list {
        width: 90%;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .filters-container {
       .filters-list {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
        justify-items: center;
       }
    }
}